<html>
<head><title>test</title></head>
<body>
  <button onclick="location.href = '{{ url_for('indexstuff') }}';">Home</button>
  <form action="{{ url_for('new_bill') }}" method="POST" name="myForm">
      <p><label for="title">title:</label>
      <input type="text" name="title" id="title"></p>

      <p><label for="law">law:</label>
      <input type="text" name="law" id="law"></p>

      <p><label for="pCoin">pCoin:</label>
      <input type="text" name="pCoin" id="pCoin"></p>

      <input value="Submit" type="submit" onclick="submitform()">
  </form>
  <script src="jquery-3.1.0.js"></script>
  <script type="text/javascript">
    function submitform(){
      var formData = JSON.stringify($("#myForm").serializeArray());
      $.ajax({
        type: "POST",
        url: "{{ url_for('new_bill') }}",
        data: formData,
        success: function(){},
        dataType: "json",
        contentType : "application/json"
      });
    }
  </script>
</body>
</html>